body {
  background-color: #f5fafe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: url('./images/background.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.logo{
  height: 8rem;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  top: 2rem;
}
.home{
  margin-top: 13rem;
  min-height: 45rem;
}
.selection{
  margin-top: 13rem;
  min-height: 90rem;
}
.contact{
  margin-top: 13rem;
  min-height: 70rem;
  width: 44rem;
}
.time{
  margin-top: 13rem;
  min-height: 65rem;
  width: 44rem;
}
.verify-pet{  
  margin-top: 13rem;
  width: 32.875rem;
  min-height: 65rem;
}
.heading {
  color: #324983;
  font-family: "Inter-Bold", Helvetica;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  max-width: 30vw;
  margin-bottom: 1rem;
}
.heading2 {
  color: #324983;
  font-family: "Inter-Bold", Helvetica;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  margin-bottom: 2rem;
  /* max-width: 50vw; */
}
.heading3{
  margin-left: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #334984;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
}
.button {
  color: #ffff;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #5379DA;
  border-radius: 0.5rem;
  border: 1px solid #5379DA;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  margin: 1rem;
  padding: 1rem 1.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
  max-width: 16rem;
  transition: all 0.5s;
  margin-bottom: 28rem;
}
.button:hover{
  color: #F6B610;
  background-color: #5379DA;
  transform: scale(1.02);
  box-shadow: 5px 5px 5px 5px rgba(16, 24, 40, 0.05);
}
.button:active{
  color: #ffff !important;
  background-color: #496bc2 !important;
  transform: scale(0.97);
  box-shadow: 0px 3px 5px 5px rgba(16, 24, 40, 0.05);
}
.city-dropdown{
  width: 20rem;
  margin: 1rem;
}
.drop-form{
  height: 2.75rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #667085;
}
.form-group{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 20rem;
}
.form{
  margin-top: 0.5rem;
  width: 20rem;
  height: 2.75rem;
}
.help-icon{
  position: relative;
  top: 2.6rem;
  left: 15.4rem;
  transition: all .4s;
}
.help-icon-note{
  position: relative;
  top: 2.6rem;
  left: 10.5rem;
  transition: all .4s;
}
.services {
  text-align: start;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.375rem;
  width: 20rem;
  border: 1px solid #D0D5DD;
  background-color: #ffff;
  padding: 0.75rem;
  color: #324983;
  transition: all 0.2s;
  display: grid;
  grid-template-columns: 3rem 11.5rem 4rem;
}
.services:hover {
  transform: scale(1.02);
}
.services:active {
  transform: scale(0.98);
}
.service-icon{
  width: 1.75rem;
  height: 1.75rem;
  position: initial;
  margin-left: 0.25rem;
}
.services-text{
  font-weight: 700;
  margin-top: 0.2rem;
}
.selected{
  border: solid 3px #324983;
  background-color: #f1f3f6;
}
.selected > .amount{
color: rgb(19, 18, 18);
}
.amount{
  color: #9A9A9A;
  margin-top: 0.2rem;
}
.photo{
  width: 11.5625rem;
  height: 13rem;
  border-radius: 0.375rem;
  border: 1px solid #D0D5DD;
  background: #FFF;
  position: absolute;
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: center;
}
.upload-img{
  display: none;
}
.avatar{
  width: 9rem;
  height: 9rem;
  margin-top: 1rem;
  border-radius: 0.375rem;
}
.edit{
  left: 0.5rem;
  margin-top: 10.75rem;
  position: absolute;
  height: 1.5rem;
}
.change-img{
  margin-top: 0.75rem;
  margin-left: 0.25rem;
  color: #324983;
  font-weight: 700;
  cursor: pointer;
}
.camera{
  width: 2rem;
  height: 2rem;
  margin: 3.56rem 4.94rem 1rem 4.63rem;
}
.add-photo{
  color: #334984;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.back{
  position: absolute;
  margin-top: 1rem;
  margin-right: 30rem;
  width: 13rem;
  height: 3.9rem;
  font-size: 1.2rem;
}
#street{
  width: 42.5rem;
}
#city{
  width: 16rem;
}
#state{
  width: 8rem;
  margin-left: 4rem;
}
#zip{
  width: 13rem;
}
.pet-profile{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 32rem;
  min-height: 20rem;
  border-radius: 1rem;
  border: 1px solid #D0D5DD;
  background: #FFF;;
  padding-bottom: 1rem;
}
.pet-name{
  color: #334984;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  margin-left: 12rem;
  margin-top: 3rem;
}
.pet-info{
  color: #717A92;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  margin-left: 12rem;
}
.pet-services{
  color: #717A92;
  font-weight: 700;
  margin-left: 12rem;
  margin-top: 2rem;
}
.pet-profile-img{
  position: absolute;
  width: 9rem;
  height: 9rem;
  margin-top: 1.75rem;
  margin-left: 1rem;
  border-radius: 0.375rem;
}
.pet-profile-edit{
  margin-top: 1.5rem;
  position: absolute;
  height: 1.5rem;
  margin-left: 28rem;
  cursor: pointer;
}
.pet-profile-service{
  color: #334984;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0rem 1rem 15rem;
  text-transform: capitalize;
}
.pet-profile-price{
  position: absolute;
  display: inline-block;
  color: #717A92 !important;
  margin: 1rem 0rem 1rem 25rem;
  transform: translate(0, -3.5rem);
}
.pet-profile-service-icon{
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 12rem;
  
  /* margin-top: 0.5rem; */
}
.confirm{
  margin-bottom: 29rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 2rem !important;
  max-width: 30rem !important;
}
.contact-profile{
  width: 32rem;
  min-height: 12rem;
  border-radius: 1rem;
  border: 1px solid #D0D5DD;
  background: #FFF;;
  color: #717A92;
}
.contact-name{
  font-size: 1.1rem;
  margin-top: 1.75rem;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
  color: #334984;
  font-weight: 700;
}
.contact-info{
  font-size: 1.1rem;
  margin-left: 1rem;
}
.times-card{
  width: 32rem;
  min-height: 12rem;
  border-radius: 1rem;
  border: 1px solid #D0D5DD;
  background: #FFF;;
  color: #717A92;
  margin-bottom: 2rem;
}
.card-date{
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #334984;
  font-weight: 700;
}
.card-time{
  font-size: 1.1rem;
  margin-top: 1rem;
  position: absolute;
  margin-left: 12rem;
  transform: translate(0, -2.75rem);
  text-transform: capitalize;
}
.time-info{
  padding-top: 1rem;
}
.add-pets{
  padding: 1rem;
  width: 32rem;
  min-height: 5rem;
  border-radius: 1rem;
  border: 1px solid #D0D5DD;
  background: #FFF;;
  color: #334984;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}
.add-pets:hover{
  border: 1px solid #D0D5DD;
  background: #FFF;;
  color: #334984;
  transform: scale(1.02);
}
.add-pet-icon{
  width: 1.75rem;
  height: 1.75rem;
  position: initial;
  margin-left: 0.25rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 900px) {
  .heading {
    max-width: 70vw;
  }
  .photo{
   text-align: center;
   position: relative;
   left: auto;
   margin-bottom: 2rem;
  }
  .back{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 5rem;
  }
  .verify-pet{  
    margin-top: 13rem;
    width: 90vw;
    min-height: 65rem;
  }
  .contact{
    width: 90vw;
  }
  .form-group{
    max-width: 80vw !important;
    margin-left: 0rem;
  }
  #street, #city, #state, #zip{
    width: fit-content;
    margin-left: 0rem;
  }
  #firstname, #lastname{
    transform: translate(-1rem);
  }
  .time{
    width: 90vw;
  }
  .pet-services{
    margin-left: 2rem;
  }
  .pet-profile-service-icon{
    margin-left: 2rem;
  }
  .pet-profile-service{
    margin-left: 5rem;
  }
  .pet-profile-price{
    margin-left: 15rem;
  }
  .pet-name{
    margin-top: 12rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .pet-profile-edit{
    margin-left: 18rem;
  }
  .pet-info{
    margin-left: 2rem;
  }
}